{% extends 'catalog/base.html' %}
{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><h2>{{ object.title }}</h2></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'catalog:detail' object.pk %}" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                                <a href="{% url 'catalog:update' object.pk %}" class="btn btn-sm btn-outline-primary">Редактировать</a>
                                <a href="{% url 'catalog:delete' object.pk %}" class="btn btn-sm btn-outline-primary">Удалить</a>
                            </div>
                            <small class="text-muted">{{ object.publication_date }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}